<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../../dist/css/icons.css">
    <link rel="stylesheet" href="../../../dist/css/owl.carousel.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../../dist/css/bootstrap.min.css">
    <!-- Style -->
    <link rel="stylesheet" href="../../..//dist/css/style.css">
    <link rel="stylesheet" href="login.css">

  </head>
  <body>
  

  <div class="d-lg-flex half">
    <div class="bg order-1 order-md-2" style="background-image: url('../../../media/nurse-2019420_1280.jpg');"></div>
    <div class="contents order-2 order-md-1">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-7">
            <h2 style="color: #7AB730; font-weight:900; font-size: 32px; "><span style="color: black;  font-weight:500">Login To</span> <span style="color: black; " class="">HOSPI</span>SOFT</h2>
            <p class="mb-4">Health and Care, Our Commitment to You: Always by Your Side, Always in Care.</p>

      <form method="dialog">
              <div class="form-group first">
                <label for="email">Correo</label>
                <input type="email" class="form-control" placeholder="YourEmail@gmail.com" id="email">
              </div>
              <div class="division"> </div>
              <div class="form-group last mb-3">
                <label for="password">Password</label>
                <input type="password" class="form-control" placeholder="Your Password" id="password">
              </div>
              
             <div class="col-12 botones mt-4 ">
                <button type="submit" style="background-color: #7AB730; border-color: #7AB730;" onclick="login()" class="btn btn-block btn-primary boton">
                  Log In
                </button>
         
                <button type="submit" id="btnRegister" style="background-color: #7AB730; border-color: #7AB730;" class="btn btn-block btn-primary boton">
                  Register
                </button>
             </div>
            </form>
             <br>
             <div class="col-12 text-center">
              <a style="color: blue;" href="../Index.html">Access our website</a>
             </div>
             
           
          </div>
        </div>
      </div>
    </div>
  </div>
    <script src="../../../dist/js/jquery-3.3.1.min.js"></script>
    <script src="../../../dist/js/popper.min.js"></script>
    <script src="../../../dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../../dist/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="login.js"></script>
  </body>
</html>